defaultValues.yaml
tools/bootstrap/values.yaml
tools/vaultwardenVolumeInit/secrets.yaml
tools/vaultwardenVolumeInit/vaultwardenData/*
tools/nextcloudVolumeInit/nextcloud-sqlbkp*
config.php
config.php*